# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*/__pycache__/

# Virtual environments
venv/
env/
.venv/
.env/

# OS/IDE
.DS_Store
Thumbs.db
*.swp

# Ignore all images in /app/static/img
app/static/img/*

# BUT keep the two default images:
!app/static/img/default_cover.jpg
!app/static/img/default_product.jpg

# Our instance folder (contains local DB and secrets)
dealsdeals/app/instance/

# Our pycache in app folder
dealsdeals/app/__pycache__/

# If you don't want to commit your local SQLite DB
dealsdeals/app/instance/*.db


# Terraform ignores in infra/test
infra/test/.terraform*
infra/test/terraform.tfstate*
