# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
*/__pycache__/
instance/

# Virtual environments
venv/
env/
.venv/
.env/

# OS/IDE
.DS_Store
Thumbs.db
*.swp

# Ignore all images in /app/static/img
app/static/img/*

# BUT keep the two default images:
!app/static/img/default_cover.jpg
!app/static/img/default_product.jpg

# Terraform ignores in infra/test
infra/test/.terraform*
infra/test/terraform.tfstate*
